#AddBranch body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5; /* Light Grey Background */
  font-family: 'Arial', sans-serif;
}

#AddBranch {
  width: 700px; /* Increased Width */
  padding: 9px; /* Adjusted Padding */
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: white; 
  padding: 50px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#AddBranch:hover {
  transform: scale(1.05);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
}

#AddBranch form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#AddBranch div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjusted Margin */
}

#AddBranch label {
  font-weight: bold;
  margin-bottom: 15px;
  color: #050404; /* Vibrant Yellow */
  font-size: 20px; /* Increased Font Size */
}

#AddBranch input[type="text"] {
  width: calc(100% - 20px);
  padding: 18px; /* Adjusted Padding */
  margin-bottom: 30px; /* Adjusted Margin */
  border: 2px solid #0c0901; /* Vibrant Yellow Border */
  border-radius: 10px;
  font-size: 20px;
  color: #333333;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#AddBranch input[type="text"]:focus {
  border-color: #ff3333; /* Vibrant Red on Focus */
  box-shadow: 0 0 15px rgba(255, 51, 51, 0.4);
}

#AddBranch .error {
  color: #ff3333; /* Vibrant Red Error Messages */
  font-size: 18px; /* Adjusted Font Size */
  margin-top: 20px; /* Adjusted Margin */
}

#AddBranch button[type="submit"] {
  background: #217a42; /* Vibrant Green Button */
  color: rgb(6, 5, 5);
  border: none;
  padding: 22px 50px; /* Adjusted Padding */
  margin-top: 40px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 24px; /* Increased Font Size */
  transition: background 0.3s, transform 0.2s;
}

#AddBranch button[type="submit"]:hover {
  background: #51ace5; /* Lighter Green on Hover */
  transform: scale(1.1);
}
