/* BranchDetails.css */

#BranchDetails.branch-details-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  background: white; 
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  height: 80vh;
  animation: fadeIn 1s ease-in-out;
  
}

#BranchDetails.branch-details-container h2 {
  margin-bottom: 20px;
  color: #01080c;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeInUp 1s ease-in-out;
}

#BranchDetails.branch-details-container p {
  font-size: 28px;
  margin-bottom: 15px;
  color: #0c0101;
  animation: fadeIn 1s ease-in-out;
  text-align: right;
}

#BranchDetails.branch-details-container p:last-child {
  margin-bottom: 0;
}

#BranchDetails.loading,
#BranchDetails.error-message {
  font-size: 24px;
  margin-top: 20px;
  color: #e74c3c;
  animation: fadeInOut 1.5s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#BranchDetails button {
  background: #e63a3a; /* Vibrant Green Button */
  color: rgb(6, 5, 5);
  border: none;
  padding: 22px 50px; /* Adjusted Padding */
  margin-top: 40px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 24px; /* Increased Font Size */
  transition: background 0.3s, transform 0.2s;
}