/* EditBranch.css */

#EditBranch.edit-branch-container {
  width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  background: white;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

#EditBranch.edit-branch-container h2 {
  margin-bottom: 20px;
  color: #01080c;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeInUp 1s ease-in-out;;
}

#EditBranch.edit-branch-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#EditBranch.edit-branch-container div {
  width: 100%;
  margin-bottom: 20px;
}

#EditBranch.edit-branch-container label {
  font-weight: bold;
  margin-bottom: 15px;
  color: #050404; /* Vibrant Yellow */
  font-size: 18px; /* Increased Font Size */
  text-align: justify;
}

#EditBranch.edit-branch-container input[type="text"] {
  width: calc(70% - 10px);
  text-align: justify;
  padding: 18px; /* Adjusted Padding */
  margin-bottom: 30px; /* Adjusted Margin */
  border: 2px solid #070600; 
  border-radius: 10px;
  font-size: 16px;
  color: #333333;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#EditBranch.edit-branch-container input[type="text"]:focus {
  border-color: #ff3333; /* Vibrant Red on Focus */
  box-shadow: 0 0 15px rgba(255, 51, 51, 0.4);
}

#EditBranch.edit-branch-container button[type="submit"] {
  background: #1b924f;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: background 0.3s, transform 0.2s;
}

#EditBranch.edit-branch-container button[type="submit"]:hover {
  background: #348f9b;
  transform: scale(1.05);
}
