#UserRegistration .card-registration .select-input .form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
#UserRegistration .card-registration .select-arrow {
    top: 13px;
    }

    body{
        background-color: rgb(240, 243, 243) !important;
        
    }

    #UserRegistration .form-control {
        border: 3px solid #073dff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 12px;
        font-size: 1.4rem;
        background: #ffffff;
        color: #2e323c;
        box-shadow:#007ae1;
        
    }