body{
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-3E6383: #3E6383;
  --color-FFFFFF: #FFFFFF;
  --color-2A3847: #2A3847;
  --color-87CEEB: #87CEEB;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
}

body{
  font-family: "Rubik", sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.button{
  background-color: var(--color-2A3847);
  color: var(--color-FFFFFF);
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 35px !important;
}

.button:hover{
  background-color: #87CEEB;
  color: #bf4800;
}

.scrollable-content {
  overflow-y: scroll;
  max-height: auto;
}
.bodyMain{
  height: 100%;
  width: 100%;
}
  

/*Header CSS */
.header-top-strip{
  background-color: #2A3847;
  border-bottom: 1px solid #FFFFFF;
}

.header-upper{
  background-color: #3E6383 !important;
}

.header-upper .input-group-text{
  background-color: #87CEEB;
}

.header-upper-links img{
  width: 45px;
  height: 45px;
}

.header-bottom{
  background-color: #2A3847;
}

.header-bottom .menu-links a{
  color: #FFFFFF;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.px-0:hover{
  text-decoration-color: var(--color-bf4800) !important;
  text-shadow: 0 0 13px white; 
}

.headerdash{
  color: var(--color-bf4800);
}
/*^^^Header CSS^^^ */


/*Footer CSS */
footer{
  background-color: var(--color-3E6383) !important;
}

footer:not(:first-child){
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text{
  background-color: var(--color-2A3847);
  color: var(--color-FFFFFF);
  padding: 8px 17px;
}
/*^^^Footer CSS */


/*Home CSS */

.main-banner-content{
  top: 10%;
  left: 5%
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0, 0, 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  color: var(--color-FFFFFF);
  letter-spacing: -2px;
  padding: 0;
  text-transform: none;
}

.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  color: var(--color-FFFFFF);
  letter-spacing: 0.4px;
  padding: 0;
  text-transform: none;
}


/*home 2nd section */
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}
/*^^^home 2nd section^^^ */


/*home 3rd section */
.categories{
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
/*^^^home 3rd section^^^ */
/*^^^Home CSS^^^ */


/* Store */
.filter-card{
  background-color: var(--color-FFFFFF);
  border-radius: 10px;
  padding: 10px 15px;
}


.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-2A3847);
  margin-bottom: 20px;
}

.filter-card ul{
  list-style-type: none;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-3E6383);
  cursor: pointer;
}

.sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-2A3847);
  margin-bottom: 15px;
  margin-top: 20px;
}

.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.filter-sort-grid{
  padding: 10px;
  background-color: var(--color-FFFFFF);
  border-radius: 10px;
}

.sort_style_backgrond{
  background-color: var(--color-f5f5f7) !important;
}

.grid img{
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.totalproducts{
  margin: auto;
}


.gr-12{
  width: 100%;
}

.gr-6{
  width: 49%;
}

.gr-4{
  width: 32%;
}

.gr-3{
  width: 24%;
}

.gr-12 .product-card{
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-image{
  width: 270px;
  height: auto !important;
}

.gr-6 .product-card .product-image{
  width: 270px;
  margin: auto;
}

.gr-4 .product-card .product-image{
  width: 250px;
  margin: auto;
}

.gr-3 .product-card .product-image{
  width: 175px;
  margin: auto;
}


/*^^^ Store ^^^*/


/* productCard */

.product-card{
  padding: 15px;
  background-color: var(--color-FFFFFF);
  border-radius: 10px;
  overflow: hidden;
}

.product-card .product-image{
  height: 270px;
  width: 190px;
}

.product-card .product-image img{
  object-fit: contain;
}

.product-card .product-image > img:last-child{
  display: none;
}

.product-card:hover .product-image > img:nth-child(1){
  display: none;
  transition: 0.3s;
}

.product-card:hover .product-image > img:last-child{
  display: block;
  transition: 0.3s;
}

.product-card:hover .action-bar{
  right: 15px;
}

.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5{
  color: #1c1c1b;
  font-size: 15px;
}

.product-card .product-details p.price{
  color: #1c1c1b;
  font-size: 16px;
}

.product-card p.description{
  font-size: 13px;
  color: #777777;
  margin-right: 20px;
}

.action-bar{
  top: 13%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon{
  top: 2%;
  right: 16px;
}

/* ^^^productCard^^^ */


/*Contact us page */

.contact-inner-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: var(--color-FFFFFF);
  gap: 15px;
}

.contact-inner-wrapper > div{
  width: 48%;
}

.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact-inner-wrapper ul{
  list-style: none;
}

/*^^^ Contact us page ^^^*/

.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.wishlist-card h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-3E6383);
}

.wishlist-card h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}


/* Singleproduct */

.main-product-image{
  padding: 20px;
  background-color: var(--color-FFFFFF);
  border-radius: 10px;
}

.main-product-image>div{
  border: 1px solid rgba(0, 0, 0, 25);
}

.main-product-image img{
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
  overflow: hidden;
}

.main-product-details{
  padding: 20px;
  background-color: var(--color-FFFFFF);
  border-radius: 10px;
}

.border-bottom{
  border-bottom: 1px solid rgba(0, 0, 0, 25);
}

.main-product-details h3.title{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-2A3847);
  margin-bottom: 10px;
}

.main-product-details p.price{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-heading{
  font-weight: 600;
  font-size: 14px;
  color: var(--color-2A3847);
  margin-bottom: 0px;
}

.product-data{
  font-size: 13px;
  columns: var(--color-3E6383);
  margin-bottom: 0px;
}

.product-data-color{
  margin-bottom: 0px;
}

.main-product-details a{
  font-size: 14px;
  color: #777777;
}


/* ^^^Singleproduct^^^ */



/*Admin side*/
.title{
  font: 28px;
  font-family: Roboto !important;
}

.error{
  color: red;
  font-size: 12px;
}

.imageUploadProduct{
  background-color:  #ADD8E6;
}

.productSubmitbtn{
  width: 100% !important; 
  height: 50px !important;
}