@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap");



#AddSupplier *{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: "Popins" ,sans-serif;
    

}



#AddSupplier .home_content {
    position: absolute;  
    left: 100px;
    transition: all 0.5s ease;
    width: max-content;
}

#AddSupplier .home_content .text{
    font-size: 25px;
    font-weight: 500;
    color:#1d1b31 ;
    margin-left: 0px;
    width: max-content;
}
#AddSupplier .home_content .text1{
    font-size: 25px;
    font-weight: 500;
    color:#1d1b31 ;
    margin-left: 810px;
    width: max-content;
    
    
}
#AddSupplier .form-control {
    border: 3px solid #073dff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 12px;
    font-size: 1.4rem;
    background: #ffffff;
    color: #2e323c;
    box-shadow:#007ae1;
    
}




/* form */


#AddSupplier .container {
    margin-left: 300px;
    overflow: auto;
    overflow-y: auto;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem rgba(36, 29, 29, 0.858);
    border-color: #b3a8a8db;
    background-color: #ffffff82;
    border-radius: 15px;
    padding: 30px;
    
   
}
